*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3277FA;
    padding: 70px;
    color: white;
    text-align: center;
}

body {
    text-align:;

}

.body {
    max-width: 800px; /* Limits how wide the text can stretch */
    margin: 0 auto;   /* "auto" on left/right pushes it to the center */
    padding: 20px;    /* Adds a little breathing room on mobile screens */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}